.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  opacity: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
